.main_header {
    display: flex;
    flex-flow: row nowrap;
    box-shadow: 0 0 5px gray;
    padding: 1px 15px;
    margin: 0px 5px;
}

.refresh {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.main_content {
    height: 76vh;
    margin-top: 15px;
    padding: 5px;
    overflow-y: auto;
}

.incontext {
    box-shadow: 0 0 5px gray;
    overflow-y: auto;
    height: 76vh;
}