.details {
    padding: 10px 30px;
}

.item {
    padding: 2px 15px;
    height: 50px;
    list-style-type: none;
    border-top: 2px #056DF5 solid;
    display: flex;
    align-items: center;
}

.item:last-child {
    border-bottom: 2px #056DF5 solid;
}

.item:hover {
    background-color: #D3D3D3;
}

.item > h2 {
    width: 220px;
    color: #056DF5;
    font-family: "Lucida Console", Courier, monospace;;
}

.provider {
    display: flex;
    flex-direction: column;
}

.provider > span {
    color: #056DF5;
}

.provider > span:first-child {
    font-weight: bold;
}

.warning {
    margin: auto 10px;
}

.icons {
    margin-left: auto;
    display: flex;
    align-items: center;
}