.myprofile_popup {
    position: absolute;
    left: 35%;
    right: 35%;
    top: 25%;
    bottom: 25%;
    width: 350px;
    height:350px;
    margin: auto;
    background: #f8f8ff;
    border-radius: 15px;
    border: 3px #05A8F5 solid;
    padding: 8px;
    text-align: center;
}

.myprofile_popup > .popup_form {
    display: flex;
    flex-direction: column;
    height: 80%;
}

.myprofile_popup > .popup_form > div {
    padding-bottom: 1px;   
}

.myprofile_popup > .popup_form > div:last-child {
    margin-top: auto;
}

.myprofile_popup > .popup_form > div:last-child > button {
    margin-left: 24px;
    
}
