body {
  background-color: ghostwhite;
  margin: 0 auto;
}

header {
  background-color: #05A8F5;
  position: fixed;
	width: 100%;
  z-index: 10;
  height: 50px;
}

main {
  position: relative;
  top: 60px;
  margin: 0px 10px 0px 10px;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(200px, 250px) 3fr minmax(200px, 250px);
  grid-gap: 15px;
}

header div {
  color: ghostwhite;
}

header h2 {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  bottom: 10px;
  left: 20px;
}

header i.fa {
  display: none;
}

header div.avatar-circle {
  position: absolute;
  top: 6px;
  right: 20px;
}

ul {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 5px gray;
}

li {
  text-decoration: none;
  display: block;
  padding: 8px 16px;
  color: gray;
}

li:hover {
  background-color: gray;
  color: white;
}

li i {
  margin-right: 12px;
}

.nav {
  
}

.main {
  border: 1px dotted red;

}

.aside {
  box-shadow: 0 0 5px gray;
}

.avatar-circle {
  width: 32px;
  height: 32px;
  background-color: royalblue;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.initials {
  position: relative;
  top: 8px; /* 25% of parent */
  font-size: 18px; /* 50% of parent */
  line-height: 15px; /* 50% of parent */

  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .aside {
    display: none;
    width: 0px;
  }

  main {
      grid-template-columns: minmax(250px, 250px) 3fr;
  }
}

@media screen and (max-width: 800px) {
  li span {
    display: none;
  }

  main {
    grid-template-columns: minmax(50px, 50px) 3fr;
  }
}

@media screen and (orientation: portrait) {
  header div h2 {
    position: relative;
    bottom: 42px;
    left: 48px;
  }

  .nav {
    display: none;
  }

  main {
    grid-template-columns: 1fr;
  }

  header i.fa {
    position: relative;
    top: 9px;
    left: 10px;
    display: inline;
  }
}

.active li {
  color: white;
  background-color: #05A8F5;
  text-decoration: none;
}

.inactive {
  text-decoration: none;
}