body {
  background-color: ghostwhite;
  margin: 0 auto;
}

main {
  position: relative;
  top: 60px;
  margin: 0px 10px 0px 10px;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(200px, 250px) 3fr minmax(200px, 250px);
  grid-gap: 15px;
}

.aside {
  box-shadow: 0 0 5px gray;
}

@media screen and (max-width: 1000px) {
  .aside {
    display: none;
    width: 0px;
  }

  main {
      grid-template-columns: minmax(250px, 250px) 3fr;
  }
}

@media screen and (max-width: 800px) {
  main {
    grid-template-columns: minmax(50px, 50px) 3fr;
  }
}

@media screen and (max-width: 400px) and (orientation: portrait) {

  main .nav {
    display: none;
  }

  main {
    grid-template-columns: 1fr;
  }
}